##### comprehension
##### lambda, map, reduce

In [7]:
# normal code
x = [1,2,3,4,5,6,7,8,9,10]
x10 = []
for i in x:
    out = i + 10
    x10.append(out)
print(x10)

[11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

comprehension syntax
- simple
```
newlist = [operation loop]
```
- conditional
```
newlist = [operation loop condition]
```

In [8]:
# pythonic
xinv10 = [i-10 for i in x]
print(xinv10)

[-9, -8, -7, -6, -5, -4, -3, -2, -1, 0]

In [9]:
xsqr = [i**2 for i in x]
print(xsqr)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [10]:
y = [1,2,3,4,5,6]
ysqr_even = []
for i in y:
    if i % 2 == 0:
        sqr = i ** 2
        ysqr_even.append(sqr)
print(ysqr_even)

[4, 16, 36]

In [11]:
ycube_odd = [i**3 for i in y if i%2 != 0]
ycube_odd

[1, 27, 125]

In [23]:
names = ['Kaladin Stormblessed','Adolin Kholin','Shallan Dawar']
surnames = []
for name in names:
    sn = name.split()[-1] # select last word 
    surnames.append(sn)
print(surnames)

['Stormblessed', 'Kholin', 'Dawar']

In [24]:
firstname = [name.split()[-1] for name in names]
print(firstname)

['Stormblessed', 'Kholin', 'Dawar']

In [25]:
emps = ['Suraj','Ali','Mohan','Vijay','Sujay','Murtuja','Elina','Alex','Manju','Ajay'] 
# emps that contain `n`` in their name

In [31]:
emps_n = []
for name in emps:
    if 'n' in name:
        emps_n.append(name)
print(emps_n)

['Mohan', 'Elina', 'Manju']

In [33]:
emps_u = [name for name in emps if 'u' in name]
print(emps_u)

['Suraj', 'Sujay', 'Murtuja', 'Manju']

In [36]:
x = [1,2,3,4,5,6]
y = [2,3,5,1,2,5]
# add x and y elements and put in z
z = []
for i,j in zip(x,y):
    z.append(i+j)
print(z)

[3, 5, 8, 5, 7, 11]

In [38]:
a = [i*j for i,j in zip(x,y)]
print(a)

[2, 6, 15, 4, 10, 30]