```
A = 1,2,3,3,3,3,2,2,1
B = 2,2,1,2,2,3,3,1,2,4,6
A U B = 1,2,3,4,6
```

# Set
1. set can hold multiple values
2. set is mutable (add, remove item)
3. set is **unindexed**  and **unordered**
4. set can have only **unique values**
5. set is represented by **`{ }`** with comma seperated values
6. set can have mixed values inside
7. set can only hold **immutable values**
7. set **cannot be nested**

### what u need to learn
- creation
- looping
- conversion
- functions

In [ ]:
x = {1,2,3,4,5}
print(x, type(x))

In [ ]:
y = {8,3,4,6,7,2,2,6}
print(y,type(y))

In [ ]:
a = 10
b = 20
c = 'Hamon'
d = {a,b,c}
print(d)

In [ ]:
x = {} # empty dictionary
xs = set() # empty set
print(type(x), type(xs))

In [ ]:
z = {1,1,1,1,1,1,1,2,2,2,2,2,2}
print(z)

In [ ]:
names = {'Alex', 'John', 'Mary', 'Steve', 'John', 'Steve', 'Steve','Alex','alex'}
print(names)

In [ ]:
x = set('encapsulation')
print(x)

In [ ]:
# checking if all the characters in a string are unique in one line of code
len(set('zaid')) == len('zaid')

In [ ]:
nums = set([1,2,3,4,5,6,7,8,9,10,1,1,2,2])
print(nums)

In [ ]:
for n in nums:
    print(n, end=' ')

In [ ]:
for name in names:
    print(name, end=' ')

In [ ]:
for char in x:
    print(char, end=' ')

In [ ]:
x = {1,2,"Hello",(1,2,3)}
x

In [ ]:
x = {1,2,"uwuwuwuwu"}

list <-> set <-> tuple <-> list

In [ ]:
x = [1,2,3,2,3,1]
xt = tuple(x)
xs = set(x)
print(x, xt, xs)

In [ ]:
xl = list(xs)
print(xs, xl)

#### FUNCTIONS
- adding values
    - add
    - update
- removing values
    - remove
    - discard
    - pop
    - clear
- set implementation
    - union
    - intersection
    - difference
    - symmetric difference
    - is_superset
    - is_subset
    - is_disjoint

In [ ]:
books = set()
books.add('Snowcrash')
books.add('A Song of Ice and Fire')
books.add('The Great Gatsby')
books

In [ ]:
books.update(['Stormlight Archive', 'The Name of the Wind'])
books.update(('The Final Empire','The Well of Ascension'))
books

In [ ]:
books.remove('The Name of the Wind')
print(books)

In [ ]:
books.discard('THe fine of the Wind') # does not raise an error if the item is not in the set

In [ ]:
books.discard('The Great Gatsby')
print(books)

In [ ]:
books.pop() # removes and returns an arbitrary item

In [ ]:
books.clear()

In [ ]:
books

In [ ]:
s1 = {1,2,3,4,5,7,8}
s2 = {4,5,6,7,8}
s1.union(s2)

In [ ]:
s1 | s2 # pipe used to perform union

In [ ]:
s1.intersection(s2)

In [ ]:
s1 & s2 # pipe used to perform intersection

In [ ]:
s3 = {11,12,13,15,16,17}
s4 = {9,0,8,2,5}

In [ ]:
s1.difference(s2) # s1 unique values

In [ ]:
s2.difference(s3) # s2 unique values

In [ ]:
s1 - s2 # - used to perform difference

In [ ]:
s2 - s4

In [ ]:
s1.symmetric_difference(s2) # s1 and s2  unique values only

In [ ]:
s2 ^ s3 # ^ used to perform symmetric difference

In [74]:
s1 = {1,2,3,4,5,6,7,8,9,10}
s2 = {1,2,3}
s3 = {11,12,13}
s4 = {11,13,5}

In [75]:
s1.issuperset(s2) # s1 is a superset of s2

True

In [79]:
s2.issubset(s3)

False

In [81]:
s1.isdisjoint(s3)

True