```
A = 1,2,3,3,3,3,2,2,1
B = 2,2,1,2,2,3,3,1,2,4,6
A U B = 1,2,3,4,6
```

# Set
1. set can hold multiple values
2. set is mutable (add, remove item)
3. set is **unindexed**  and **unordered**
4. set can have only **unique values**
5. set is represented by **`{ }`** with comma seperated values
6. set can have mixed values inside
7. set can only hold **immutable values**
7. set **cannot be nested**

### what u need to learn
- creation
- looping
- conversion
- functions

In [9]:
x = {1,2,3,4,5}
print(x, type(x))

{1, 2, 3, 4, 5} <class 'set'>

In [10]:
y = {8,3,4,6,7,2,2,6}
print(y,type(y))

{2, 3, 4, 6, 7, 8} <class 'set'>

In [11]:
a = 10
b = 20
c = 'Hamon'
d = {a,b,c}
print(d)

{10, 20, 'Hamon'}

In [12]:
x = {} # empty dictionary
xs = set() # empty set
print(type(x), type(xs))

<class 'dict'> <class 'set'>

In [13]:
z = {1,1,1,1,1,1,1,2,2,2,2,2,2}
print(z)

{1, 2}

In [14]:
names = {'Alex', 'John', 'Mary', 'Steve', 'John', 'Steve', 'Steve','Alex','alex'}
print(names)

{'alex', 'Alex', 'John', 'Mary', 'Steve'}

In [15]:
x = set('encapsulation')
print(x)

{'n', 't', 'e', 'p', 'i', 'a', 's', 'l', 'o', 'c', 'u'}

In [16]:
# checking if all the characters in a string are unique in one line of code
len(set('zaid')) == len('zaid')

True

In [17]:
nums = set([1,2,3,4,5,6,7,8,9,10,1,1,2,2])
print(nums)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [18]:
for n in nums:
    print(n, end=' ')

1 2 3 4 5 6 7 8 9 10

In [19]:
for name in names:
    print(name, end=' ')

alex Alex John Mary Steve

In [20]:
for char in x:
    print(char, end=' ')

n t e p i a s l o c u

In [21]:
x = {1,2,"Hello",(1,2,3)}
x

{(1, 2, 3), 1, 2, 'Hello'}

In [22]:
x = {1,2,"uwuwuwuwu"}

list <-> set <-> tuple <-> list

In [23]:
x = [1,2,3,2,3,1]
xt = tuple(x)
xs = set(x)
print(x, xt, xs)

[1, 2, 3, 2, 3, 1] (1, 2, 3, 2, 3, 1) {1, 2, 3}

In [24]:
xl = list(xs)
print(xs, xl)

{1, 2, 3} [1, 2, 3]

#### FUNCTIONS
- adding values
    - add
    - update
- removing values
    - remove
    - discard
    - pop
    - clear
- set implementation
    - union
    - intersection
    - difference
    - symmetric difference
    - is_superset
    - is_subset
    - is_disjoint

In [25]:
books = set()
books.add('Snowcrash')
books.add('A Song of Ice and Fire')
books.add('The Great Gatsby')
books

{'A Song of Ice and Fire', 'Snowcrash', 'The Great Gatsby'}

In [26]:
books.update(['Stormlight Archive', 'The Name of the Wind'])
books.update(('The Final Empire','The Well of Ascension'))
books

{'A Song of Ice and Fire',
 'Snowcrash',
 'Stormlight Archive',
 'The Final Empire',
 'The Great Gatsby',
 'The Name of the Wind',
 'The Well of Ascension'}

In [27]:
books.remove('The Name of the Wind')
print(books)

{'The Final Empire', 'The Well of Ascension', 'Stormlight Archive', 'The Great Gatsby', 'Snowcrash', 'A Song of Ice and Fire'}

In [28]:
books.discard('THe fine of the Wind') # does not raise an error if the item is not in the set

In [29]:
books.discard('The Great Gatsby')
print(books)

{'The Final Empire', 'The Well of Ascension', 'Stormlight Archive', 'Snowcrash', 'A Song of Ice and Fire'}

In [30]:
books.pop() # removes and returns an arbitrary item

'The Final Empire'

In [31]:
books.clear()

In [32]:
books

set()

In [33]:
s1 = {1,2,3,4,5,7,8}
s2 = {4,5,6,7,8}
s1.union(s2)

{1, 2, 3, 4, 5, 6, 7, 8}

In [34]:
s1 | s2 # pipe used to perform union

{1, 2, 3, 4, 5, 6, 7, 8}

In [35]:
s1.intersection(s2)

{4, 5, 7, 8}

In [36]:
s1 & s2 # pipe used to perform intersection

{4, 5, 7, 8}

In [37]:
s3 = {11,12,13,15,16,17}
s4 = {9,0,8,2,5}

In [38]:
s1.difference(s2) # s1 unique values

{1, 2, 3}

In [39]:
s2.difference(s3) # s2 unique values

{4, 5, 6, 7, 8}

In [40]:
s1 - s2 # - used to perform difference

{1, 2, 3}

In [41]:
s2 - s4

{4, 6, 7}

In [42]:
s1.symmetric_difference(s2) # s1 and s2  unique values only

{1, 2, 3, 6}

In [43]:
s2 ^ s3 # ^ used to perform symmetric difference

{4, 5, 6, 7, 8, 11, 12, 13, 15, 16, 17}

In [44]:
s1 = {1,2,3,4,5,6,7,8,9,10}
s2 = {1,2,3}
s3 = {11,12,13}
s4 = {11,13,5}

In [45]:
s1.issuperset(s2) # s1 is a superset of s2

True

In [46]:
s2.issubset(s3)

False

In [47]:
s1.isdisjoint(s3)

True

Student queries

In [6]:
# units = int(input('Enter Used Electricity units: '))
# total = 0
# counter = -1
# while units>0:
#     if counter in [0,1]:
#         total += min(100,units) * 5
#         units -= 100
#     if counter > 2:
#         total += units * 10
#         units -= 200
#     counter+=1
# print(total)

5000

In [26]:
text = '   this is not a good string           '
" ".join(text.split())

'this is not a good string'

In [4]:
text.strip()

'this is not a good string'

In [5]:
text = 'this is some text' 
for word in text.split():
    print(word+"aye")

thisaye
isaye
someaye
textaye